body{
    background: aqua;
}
.container{
    width: 350px;
    padding: 30px;
    text-align: center;
    background-color: aliceblue;
    margin-left: 33%;
    margin-top: 20px;
}
input{
    width: 270px;
    padding: 10px;
    border: 4px solid rgb(6, 145,145);
    outline: none;
}
button{
    width: 60px;
    height: 40px;
    background-color:black;
    color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 19px;
    margin-top: 5px;
    cursor: pointer;
}






/* ======================== */
.text ul{
    position: relative;
    background-color: rgb(5, 31,31);
    color: white;
    font-size: 19px;
    text-align: left;

}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}